.ani_container {
    margin-top: 4rem;
    padding: 2rem;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.2)
}

.box {
    padding: 3rem;
    height: 20%;
    width: 50%;
    background-color: red;
    margin-bottom: 2rem;

    //transition: transform 100ms ease-in forwards 3;
}

.ani_container:hover .box1 {
    animation: box-animation 100ms ease-in forwards;
}

@keyframes box-animation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(100%)
    }
}
// animate with ease-in
.ani_container:hover .box1 {
    animation: box-animation1 100ms ease-in forwards;
}

@keyframes box-animation1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%)
    }
}

// animate with ease-both - box 2


// animate with ease-out - box 3
